{% extends 'layout/_layout' %}

{% block content %}

    <section class="flex flex-wrap h-double-screen justify-center items-center">

        {% if entry.layerOne|length %}
            <div class="rellax absolute z-30" data-rellax-speed="-4">
                {% set image = entry.layerOne.one() %}
                <img src="{{ image.getUrl() }}" alt="{{ entry.title }}" title="{{ entry.title }}">
            </div>
        {% endif %}

        {% if entry.layerTwo|length %}
            <div class="rellax absolute z-20" data-rellax-speed="4">
                {% set image = entry.layerTwo.one() %}
                <img src="{{ image.getUrl() }}" alt="{{ entry.title }}" title="{{ entry.title }}">
            </div>
        {% endif %}

        {% if entry.layerThree|length %}
            <div class="rellax absolute z-10" data-rellax-speed="0">
                {% set image = entry.layerThree.one() %}
                <img src="{{ image.getUrl() }}" alt="{{ entry.title }}" title="{{ entry.title }}">
            </div>
        {% endif %}

        <div class="w-full fixed pin-b mb-8 text-center z-40">
            <a href="mailto:{{ entry.email }}" class="text-brown no-underline uppercase">{{ entry.email }}</a>
        </div>

    </section>

{% endblock %}
