<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    {% hook "seo" %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e2d07a">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = 0.0012 %}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
</head>
<body class="{{ entry is defined ? entry.title|lower : "olivers-all-good" }}-page bg-yellow-lightest font-sans tracking-wide">

    {#{% include 'includes/header' %}#}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {#{% include 'includes/footer' %}#}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}
</body>
</html>
